<div class="columns content">
    <div class="column"></div>
    <div class="column is-three-quarters">
        <h1 class="title">
            <img src="/images/zap.svg" alt="">
            {{title}} ({{statusCode}})
        </h1>
        <p class="subtitle">
            {{method}} {{url}}
        </p>

        <hr>

        <p>
            <strong>Error Details</strong>
            <br>
            {{message}}
        </p>

        <pre>
            <code>{{{stacktrace}}}</code>
        </pre>
    </div>
    <div class="column"></div>
</div>
