<style>
    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 10%;
        opacity: .8;
        transition: all 1s;
    }

    .hero {
        background-color: black;
        background-size: cover;
        background-position: 50% 10%;
        color: white;
        position: relative;
        margin-bottom: 2rem;
    }

    .hero.is-dark .nav-item a:not(.button),
    .hero.is-dark a.nav-item {
        color: rgba(255, 255, 255, .8)
    }
</style>

{{> hero-movies-shows movieOrShow=show user=user isHeight='is-medium'}}

{{#show}}
    <div class="container has-margin-bottom-3">
        <div class="columns">
            <div class="column content">
                <img src="{{images.poster}}">

                <h2>Genres</h2>
                <div class="tags">
                    {{#each genres}}
                        <span class="tag is-warning">{{this}}</span>
                    {{/each}}
                </div>

                {{#if seasons}}
                    <h2>Seasons</h2>
                    <div class="">
                        {{#each seasons}}
                            <p>{{this.title}} ({{this.episodes.length}})</p>
                        {{/each}}
                    </div>
                {{/if}}
            </div>

            <div class="column is-three-quarters">
                <div class="card has-white-background">
                    <div class="card-content">
                        <h2 class="title has-text-weight-bold">
                            {{title}}
                        </h2>

                        <p class="subtitle has-text-grey">
                            <img src="/images/star-yellow.svg" alt=""> {{formatRating rating}} out of {{votes}} Votes
                        </p>

                        <p>
                            <a href="{{homepage}}" class="button is-secondary is-small">
                                Visit Homepage
                            </a>
                        </p>
                        <hr>

                        <p>
                            {{overview}}
                        </p>

                        {{#if trailer}}
                            <h3 class="title has-text-weight-bold has-margin-top-3">Trailer</h3>
                            <div class="video-container">
                                <iframe src="{{video trailer}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        {{/if}}

                        <h3 class="title has-text-weight-bold has-margin-top-3">Comments</h3>
                        {{#if comments}}
                            <div>
                                {{! implement this as part of learnhapi.com :) }}
                            </div>
                        {{else}}
                            <div class="notification">
                                Be the first who comments on {{title}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/show}}